.footer {
  background: #013243;
  color: white;

  /* Outer content grid */
  & .outer-grid {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    margin-bottom: 0rem;

    & li {
      list-style: none;
    }

    /* Inner links grid */
    & .inner-grid {
      align-items: top;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}
